@model WebProjekat.Models.Dispecer
@{
    ViewBag.Title = "dispecerWelcome";
    ViewBag.Dispecer = @Model;
    
}

<html>
<body style="background-color:skyblue">
    <div style="text-align:right">
        <form action="/Taxi/OdjaviDispecer">
            <input type="submit" value="Odjavi se" />
        </form>
    </div>
    <div style="text-align:center">
        <h2>Dobrodošli @Model.KorisnickoIme</h2>
    </div>
    <div style="text-align:center">
        <table align="center">
            <tr>
                <td width="50">
                    <form action="/Taxi/DodajVozaca">
                        <input type="submit" value="Dodaj vozaca" />
                    </form>
                </td>
                <td width="50">
                    <form action="/Taxi/Izmeni">
                        <input type="submit" value="Izmeni podatke" />
                    </form>
                </td>
                <td>
                    <form action="/Taxi/DispecerZakazujeVoznju">
                        <input type="submit" value="Zakaži vožnju" />
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <table>
        <tr>
            <td colspan="2" align="center"><b>Vaši podaci</b></td>
        </tr>

        <tr>
            <td>Ime:</td>
            <td><label>@Model.Ime</label></td>
        </tr>

        <tr>
            <td>Prezime:</td>
            <td><label>@Model.Prezime</label></td>
        </tr>

        <tr>
            <td>Jmbg:</td>
            <td><label>@Model.Jmbg</label></td>
        </tr>

        <tr>
            <td>Pol:</td>
            <td>
                <label>@Model.Pol</label>
            </td>
        </tr>

        <tr>
            <td>Korisničko ime:</td>
            <td><label>@Model.KorisnickoIme</label></td>
        </tr>
        <tr>
            <td>E-Mail:</td>
            <td><label>@Model.Mail</label></td>
        </tr>
        <tr>
            <td>Broj telefona:</td>
            <td><label>@Model.BrTelefona</label></td>
        </tr>
    </table>

    @if (WebProjekat.Models.Voznje.SveVoznje.Count == 0)
    {
        <div style="text-align:center">
            <h2>Nema vožnji</h2>
        </div>
    }
    else if (Model.Filter == true)
    {
        <div style="text-align:center">
            <table align="center" border="1">
                <tr>
                    <td>Sortiraj</td>
                    <td>
                        <form action="/Taxi/SoriraMusterija">
                            Po datumu:<input type="radio" name="datum" /> Po Oceni:<input type="radio" name="ocena" />
                            <input type="submit" value="Sortiraj" />
                            <input type="hidden" value="@Model.KorisnickoIme" name="musterija" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Pretraži vožnju </td>
                    <td>
                        <form action="/Taxi/TraziMusterija">
                            Datum:<input type="text" name="datum" />
                            Ocena:<select name="ocena">
                                <option name="neocenjen">Neocenjen</option>
                                <option name="veomaLose">Veoma loša</option>
                                <option name="losa">Loša</option>
                                <option name="dobra">Dobra</option>
                                <option name="veomaDobra">Veoma dobra</option>
                                <option name="odlicna">Odlična</option>
                            </select>
                            Cena:<input type="text" name="cena" />
                            <input type="submit" value="Pretraga" />
                            <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                @foreach (WebProjekat.Models.Voznja v in @Model.Filtrirane)
                {
                    <tr>
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.DatumIVremePorudzbine</lable></td>
                    </tr>
                    <tr>
                        <td>Status vožnje</td>
                        <td>@v.Status.ToString()</td>
                    </tr>
                    <tr>
                        <td>Početna lokacija</td>
                        <td><label>@v.PocetnaLokacija.Adresa.Naziv @v.PocetnaLokacija.Adresa.Broj ,@v.PocetnaLokacija.Adresa.Mesto @v.PocetnaLokacija.Adresa.BrojMesta</label></td>
                        @if (v.Vozac.Ime == "nema")
                        {
                            <td>
                                @if (v.Status != WebProjekat.Models.StatusVoznje.Otkazana)
                                {
                                    <form action="/Taxi/DodeljivanjeVozaca">
                                        <input type="hidden" value="@v.DatumIVremePorudzbine" name="date" />
                                        <input type="hidden" value="@v.Musterija.KorisnickoIme" name="musterija" />
                                        <input type="hidden" value="@Model.KorisnickoIme" name="disp" />
                                        <input type="submit" value="Dodeli vozača" />
                                    </form>

                                    <form action="/Taxi/PrikaziKomentar">
                                        <input type="submit" value="Prikaži vožnju" />
                                        <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                        <input type="hidden" name="korisnik" value="@v.Musterija.KorisnickoIme" />
                                        <input type="hidden" name="vozac" value="@v.Vozac.KorisnickoIme" />
                                        <input type="hidden" name="dispecer" value="@v.Dispecer.KorisnickoIme" />
                                    </form>
                                }
                                else
                                {
                                    <form action="/Taxi/PrikaziKomentar">
                                        <input type="submit" value="Prikaži vožnju" />
                                        <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                        <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    </form>
                                }
                            </td>

                        }
                    </tr>
                }
            </table>
            <form action="/Taxi/PonistiFilter">
                <input type="submit" value="Poništi filter" />
                <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
            </form>
        </div>
    }
    else if (Model.Pretrazivanje == true)
    {
        <div style="text-align:center">
            <table align="center" border="1">
                <tr>
                    <td>Pretraži vožnje po statusu</td>
                    <td>
                        <form action="/Taxi/FiltriraMusterija">
                            <select name="filterStatus">
                                <option id="kreirana">Kreirana</option>
                                <option id="formirana" selected>Formirana</option>
                                <option id="obradjena">Obrađena</option>
                                <option id="prihvacena">Prihvaćena</option>
                                <option id="Otkazana">Otkazana</option>
                                <option id="neuspesna">Neuspešna</option>
                                <option id="uspesna">Uspešna</option>
                            </select>
                            <input type="submit" value="Filtriraj" />
                            <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Sortiraj</td>
                    <td>
                        <form action="/Taxi/SoriraMusterija">
                            Po datumu:<input type="radio" name="datum" /> Po Oceni:<input type="radio" name="ocena" />
                            <input type="submit" value="Sortiraj" />
                            <input type="hidden" value="@Model.KorisnickoIme" name="musterija" />
                        </form>
                    </td>
                </tr>
                @foreach (WebProjekat.Models.Voznja v in @Model.Pretrazene)
                {
                    <tr>
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.DatumIVremePorudzbine</lable></td>
                    </tr>
                    <tr>
                        <td>Status vožnje</td>
                        <td>@v.Status.ToString()</td>
                    </tr>
                    <tr>
                        <td>Početna lokacija</td>
                        <td><label>@v.PocetnaLokacija.Adresa.Naziv @v.PocetnaLokacija.Adresa.Broj ,@v.PocetnaLokacija.Adresa.Mesto @v.PocetnaLokacija.Adresa.BrojMesta</label></td>
                        @if (v.Vozac.Ime == "nema")
                        {
                            <td>
                                @if (v.Status != WebProjekat.Models.StatusVoznje.Otkazana)
                                {
                                    <form action="/Taxi/DodeljivanjeVozaca">
                                        <input type="hidden" value="@v.DatumIVremePorudzbine" name="date" />
                                        <input type="hidden" value="@v.Musterija.KorisnickoIme" name="musterija" />
                                        <input type="hidden" value="@Model.KorisnickoIme" name="disp" />
                                        <input type="submit" value="Dodeli vozača" />
                                    </form>

                                    <form action="/Taxi/PrikaziKomentar">
                                        <input type="submit" value="Prikaži vožnju" />
                                        <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                        <input type="hidden" name="korisnik" value="@v.Musterija.KorisnickoIme" />
                                        <input type="hidden" name="vozac" value="@v.Vozac.KorisnickoIme" />
                                        <input type="hidden" name="dispecer" value="@v.Dispecer.KorisnickoIme" />
                                    </form>
                                }
                                else
                                {
                                    <form action="/Taxi/PrikaziKomentar">
                                        <input type="submit" value="Prikaži vožnju" />
                                        <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                        <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    </form>
                                }
                            </td>

                        }
                    </tr>
                }
            </table>
            <form action="/Taxi/PonistiFilter">
                <input type="submit" value="Poništi filter" />
                <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
            </form>
        </div>
    }
    else if (Model.Sortiranje == true)
    {
        <div style="text-align:center">
            <table align="center" border="1">
                <tr>
                    <td>Pretraži vožnje po statusu</td>
                    <td>
                        <form action="/Taxi/FiltriraMusterija">
                            <select name="filterStatus">
                                <option id="kreirana">Kreirana</option>
                                <option id="formirana" selected>Formirana</option>
                                <option id="obradjena">Obrađena</option>
                                <option id="prihvacena">Prihvaćena</option>
                                <option id="Otkazana">Otkazana</option>
                                <option id="neuspesna">Neuspešna</option>
                                <option id="uspesna">Uspešna</option>
                            </select>
                            <input type="submit" value="Filtriraj" />
                            <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Pretraži vožnju </td>
                    <td>
                        <form action="/Taxi/TraziMusterija">
                            Datum:<input type="text" name="datum" />
                            Ocena:<select name="ocena">
                                <option name="neocenjen">Neocenjen</option>
                                <option name="veomaLose">Veoma loša</option>
                                <option name="losa">Loša</option>
                                <option name="dobra">Dobra</option>
                                <option name="veomaDobra">Veoma dobra</option>
                                <option name="odlicna">Odlična</option>
                            </select>
                            Cena:<input type="text" name="cena" />
                            <input type="submit" value="Pretraga" />
                            <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                @foreach (WebProjekat.Models.Voznja v in @Model.Sortirane)
                {
                    <tr>
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.DatumIVremePorudzbine</lable></td>
                    </tr>
                    <tr>
                        <td>Status vožnje</td>
                        <td>@v.Status.ToString()</td>
                    </tr>
                    <tr>
                        <td>Početna lokacija</td>
                        <td><label>@v.PocetnaLokacija.Adresa.Naziv @v.PocetnaLokacija.Adresa.Broj ,@v.PocetnaLokacija.Adresa.Mesto @v.PocetnaLokacija.Adresa.BrojMesta</label></td>
                        @if (v.Vozac.Ime == "nema")
                        {
                            <td>
                                @if (v.Status != WebProjekat.Models.StatusVoznje.Otkazana)
                                {
                                    <form action="/Taxi/DodeljivanjeVozaca">
                                        <input type="hidden" value="@v.DatumIVremePorudzbine" name="date" />
                                        <input type="hidden" value="@v.Musterija.KorisnickoIme" name="musterija" />
                                        <input type="hidden" value="@Model.KorisnickoIme" name="disp" />
                                        <input type="submit" value="Dodeli vozača" />
                                    </form>

                                    <form action="/Taxi/PrikaziKomentar">
                                        <input type="submit" value="Prikaži vožnju" />
                                        <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                        <input type="hidden" name="korisnik" value="@v.Musterija.KorisnickoIme" />
                                        <input type="hidden" name="vozac" value="@v.Vozac.KorisnickoIme" />
                                        <input type="hidden" name="dispecer" value="@v.Dispecer.KorisnickoIme" />
                                    </form>
                                }
                                else
                                {
                                    <form action="/Taxi/PrikaziKomentar">
                                        <input type="submit" value="Prikaži vožnju" />
                                        <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                        <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    </form>
                                }
                            </td>

                        }
                    </tr>
                }
            </table>
            <form action="/Taxi/PonistiFilter">
                <input type="submit" value="Poništi filter" />
                <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
            </form>
        </div>
    }
    else if (Model.TraziVozac == true)
    {
        <div style="text-align:center">
            <table align="center" border="1">
                <tr>
                    <td colspan="2">Vaše vožnje</td>
                </tr>
                <tr>
                    <td>Pretraga mušterije</td>
                    <td>
                        <form action="/Taxi/TraziMusteriju">
                            Ime:<input type="text" name="musterijaI" />Prezime:<input type="text" name="musterijaP" /><input type="submit" value="Pretraži" /> <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Pretraži vožnje po statusu</td>
                    <td>
                        <form action="/Taxi/FiltriraMusterija">
                            <select name="filterStatus">
                                <option id="kreirana">Kreirana</option>
                                <option id="formirana" selected>Formirana</option>
                                <option id="obradjena">Obrađena</option>
                                <option id="prihvacena">Prihvaćena</option>
                                <option id="Otkazana">Otkazana</option>
                                <option id="neuspesna">Neuspešna</option>
                                <option id="uspesna">Uspešna</option>
                            </select>
                            <input type="submit" value="Filtriraj" />
                            <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Sortiraj</td>
                    <td>
                        <form action="/Taxi/SoriraMusterija">
                            Po datumu:<input type="radio" name="datum" /> Po Oceni:<input type="radio" name="ocena" />
                            <input type="submit" value="Sortiraj" />
                            <input type="hidden" value="@Model.KorisnickoIme" name="musterija" />
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>Pretraži vožnju </td>
                    <td>
                        <form action="/Taxi/TraziMusterija">
                            Datum:<input type="text" name="datum" />
                            Ocena:<select name="ocena">
                                <option name="neocenjen">Neocenjen</option>
                                <option name="veomaLose">Veoma loša</option>
                                <option name="losa">Loša</option>
                                <option name="dobra">Dobra</option>
                                <option name="veomaDobra">Veoma dobra</option>
                                <option name="odlicna">Odlična</option>
                            </select>
                            Cena:<input type="text" name="cena" />
                            <input type="submit" value="Pretraga" />
                            <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                @foreach (WebProjekat.Models.Voznja v in @Model.NadjeniVozaci)
                {

                    <tr>
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.DatumIVremePorudzbine</lable></td>
                    </tr>
                    <tr>
                        <td>Status vožnje</td>
                        <td>@v.Status.ToString()</td>
                    </tr>
                    <tr>
                        <td>Početna lokacija</td>
                        <td><label>@v.PocetnaLokacija.Adresa.Naziv @v.PocetnaLokacija.Adresa.Broj ,@v.PocetnaLokacija.Adresa.Mesto @v.PocetnaLokacija.Adresa.BrojMesta</label></td>
                       @if (v.Vozac.Ime == "nema")
                        {
                            <td>
                                @if (v.Status != WebProjekat.Models.StatusVoznje.Otkazana)
                                {
                                    <form action="/Taxi/DodeljivanjeVozaca">
                                        <input type="hidden" value="@v.DatumIVremePorudzbine" name="date" />
                                        <input type="hidden" value="@v.Musterija.KorisnickoIme" name="musterija" />
                                        <input type="hidden" value="@Model.KorisnickoIme" name="disp" />
                                        <input type="submit" value="Dodeli vozača" />
                                    </form>

                                    <form action="/Taxi/PrikaziKomentar">
                                        <input type="submit" value="Prikaži vožnju" />
                                        <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                        <input type="hidden" name="korisnik" value="@v.Musterija.KorisnickoIme" />
                                        <input type="hidden" name="vozac" value="@v.Vozac.KorisnickoIme" />
                                        <input type="hidden" name="dispecer" value="@v.Dispecer.KorisnickoIme" />
                                    </form>
                                }
                                else
                                {
                                    <form action="/Taxi/PrikaziKomentar">
                                        <input type="submit" value="Prikaži vožnju" />
                                        <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                        <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    </form>
                                }
                            </td>

                        }
                    </tr>
                }
            </table>
            <form action="/Taxi/PonistiFilter">
                <input type="submit" value="Poništi filter" />
                <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
            </form>
        </div>
    }
    else if (Model.TraziMusteriju == true)
    {
        <div style="text-align:center">
            <table align="center" border="1">
                <tr>
                    <td colspan="2">Vaše vožnje</td>
                </tr>
                <tr>
                    <td>Pretraga vozača</td>
                    <td>
                        <form action="/Taxi/TraziVozaca">
                            Ime:<input type="text" name="vozacI" />Prezime:<input type="text" name="vozacP" /><input type="submit" value="Pretraži" /> <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Pretraži vožnje po statusu</td>
                    <td>
                        <form action="/Taxi/FiltriraMusterija">
                            <select name="filterStatus">
                                <option id="kreirana">Kreirana</option>
                                <option id="formirana" selected>Formirana</option>
                                <option id="obradjena">Obrađena</option>
                                <option id="prihvacena">Prihvaćena</option>
                                <option id="Otkazana">Otkazana</option>
                                <option id="neuspesna">Neuspešna</option>
                                <option id="uspesna">Uspešna</option>
                            </select>
                            <input type="submit" value="Filtriraj" />
                            <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Sortiraj</td>
                    <td>
                        <form action="/Taxi/SoriraMusterija">
                            Po datumu:<input type="radio" name="datum" /> Po Oceni:<input type="radio" name="ocena" />
                            <input type="submit" value="Sortiraj" />
                            <input type="hidden" value="@Model.KorisnickoIme" name="musterija" />
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>Pretraži vožnju </td>
                    <td>
                        <form action="/Taxi/TraziMusterija">
                            Datum:<input type="text" name="datum" />
                            Ocena:<select name="ocena">
                                <option name="neocenjen">Neocenjen</option>
                                <option name="veomaLose">Veoma loša</option>
                                <option name="losa">Loša</option>
                                <option name="dobra">Dobra</option>
                                <option name="veomaDobra">Veoma dobra</option>
                                <option name="odlicna">Odlična</option>
                            </select>
                            Cena:<input type="text" name="cena" />
                            <input type="submit" value="Pretraga" />
                            <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                @foreach (WebProjekat.Models.Voznja v in @Model.NadjeneMusterije)
                {

                    <tr>
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.DatumIVremePorudzbine</lable></td>
                    </tr>
                    <tr>
                        <td>Status vožnje</td>
                        <td>@v.Status.ToString()</td>
                    </tr>
                    <tr>
                        <td>Početna lokacija</td>
                        <td><label>@v.PocetnaLokacija.Adresa.Naziv @v.PocetnaLokacija.Adresa.Broj ,@v.PocetnaLokacija.Adresa.Mesto @v.PocetnaLokacija.Adresa.BrojMesta</label></td>
                        @if (v.Vozac.Ime == "nema")
                        {
                            <td>
                                @if (v.Status != WebProjekat.Models.StatusVoznje.Otkazana)
                                {
                                    <form action="/Taxi/DodeljivanjeVozaca">
                                        <input type="hidden" value="@v.DatumIVremePorudzbine" name="date" />
                                        <input type="hidden" value="@v.Musterija.KorisnickoIme" name="musterija" />
                                        <input type="hidden" value="@Model.KorisnickoIme" name="disp" />
                                        <input type="submit" value="Dodeli vozača" />
                                    </form>

                                    <form action="/Taxi/PrikaziKomentar">
                                        <input type="submit" value="Prikaži vožnju" />
                                        <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                        <input type="hidden" name="korisnik" value="@v.Musterija.KorisnickoIme" />
                                        <input type="hidden" name="vozac" value="@v.Vozac.KorisnickoIme" />
                                        <input type="hidden" name="dispecer" value="@v.Dispecer.KorisnickoIme" />
                                    </form>
                                }
                                else
                                {
                                    <form action="/Taxi/PrikaziKomentar">
                                        <input type="submit" value="Prikaži vožnju" />
                                        <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                        <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    </form>
                                }
                            </td>

                        }
                    </tr>
                }
            </table>
            <form action="/Taxi/PonistiFilter">
                <input type="submit" value="Poništi filter" />
                <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
            </form>
        </div>
    }
    else
    {
        <div style="text-align:center">
            <h2>Sve vožnje</h2>
        </div>
        <div style="text-align:center">
             <table align="center" border="1">
                <tr>
                    <td>Pretraga vozača</td>
                    <td>
                        <form action="/Taxi/TraziVozaca">
                            Ime:<input type="text" name="vozacI" />Prezime:<input type="text" name="vozacP" /><input type="submit" value="Pretraži" /> <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Pretraga mušterije</td>
                    <td>
                        <form action="/Taxi/TraziMusteriju">
                            Ime:<input type="text" name="musterijaI" />Prezime:<input type="text" name="musterijaP" /><input type="submit" value="Pretraži" /> <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Pretraži vožnje po statusu</td>
                    <td>
                        <form action="/Taxi/FiltriraMusterija">
                            <select name="filterStatus">
                                <option id="kreirana">Kreirana</option>
                                <option id="formirana" selected>Formirana</option>
                                <option id="obradjena">Obrađena</option>
                                <option id="prihvacena">Prihvaćena</option>
                                <option id="Otkazana">Otkazana</option>
                                <option id="neuspesna">Neuspešna</option>
                                <option id="uspesna">Uspešna</option>
                            </select>
                            <input type="submit" value="Filtriraj" />
                            <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Sortiraj</td>
                    <td>
                        <form action="/Taxi/SoriraMusterija">
                            Po datumu:<input type="radio" name="datum" /> Po Oceni:<input type="radio" name="ocena" />
                            <input type="submit" value="Sortiraj" />
                            <input type="hidden" value="@Model.KorisnickoIme" name="musterija" />
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>Pretraži vožnju </td>
                    <td>
                        <form action="/Taxi/TraziMusterija">
                            Datum:<input type="text" name="datum" />
                            Ocena:<select name="ocena">
                                <option name="neocenjen">Neocenjen</option>
                                <option name="veomaLose">Veoma loša</option>
                                <option name="losa">Loša</option>
                                <option name="dobra">Dobra</option>
                                <option name="veomaDobra">Veoma dobra</option>
                                <option name="odlicna">Odlična</option>
                            </select>
                            Cena:<input type="text" name="cena" />
                            <input type="submit" value="Pretraga" />
                            <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Datum i vreme porudžbine</td>
                    <td>Ime i prezime mušterije</td>
                    <td>Početna adresa vožnje</td>
                    <td>Status vožnje</td>
                </tr>
                @foreach (WebProjekat.Models.Voznja v in WebProjekat.Models.Voznje.SveVoznje)
                {
                    <tr>
                        <td>
                            @v.DatumIVremePorudzbine
                        </td>
                        <td>
                            @v.Musterija.Ime @v.Musterija.Prezime
                        </td>
                        <td>
                            @v.PocetnaLokacija.Adresa.Naziv @v.PocetnaLokacija.Adresa.Broj @v.PocetnaLokacija.Adresa.Mesto @v.PocetnaLokacija.Adresa.BrojMesta
                        </td>
                        <td>
                            @v.Status.ToString()
                        </td>
                        @if (v.Vozac.Ime == "nema")
                        {
                            <td>
                                @if (v.Status != WebProjekat.Models.StatusVoznje.Otkazana)
                                {
                                    <form action="/Taxi/DodeljivanjeVozaca">
                                        <input type="hidden" value="@v.DatumIVremePorudzbine" name="date" />
                                        <input type="hidden" value="@v.Musterija.KorisnickoIme" name="musterija" />
                                        <input type="hidden" value="@Model.KorisnickoIme" name="disp" />
                                        <input type="submit" value="Dodeli vozača" />
                                    </form>

                                    <form action="/Taxi/PrikaziKomentar">
                                        <input type="submit" value="Prikaži vožnju" />
                                        <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                        <input type="hidden" name="korisnik" value="@v.Musterija.KorisnickoIme" />
                                        <input type="hidden" name="vozac" value="@v.Vozac.KorisnickoIme" />
                                        <input type="hidden" name="dispecer" value="@v.Dispecer.KorisnickoIme" />
                                    </form>
                                }
                                else
                                {
                                    <form action="/Taxi/PrikaziKomentar">
                                        <input type="submit" value="Prikaži vožnju" />
                                        <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                        <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    </form>
                                }
                            </td>

                        }
                    </tr>
                }
            </table>
        </div>
    }

    @if (Model.Voznja.Count == 0)
    {
        <div>
            <h1>Lista vožnji je prazna!</h1>
        </div>
    }
    else
    {
        <div style="text-align:center">
            <table align="center" border="1">
                <tr>
                    <td colspan="2">Vaše vožnje</td>
                </tr>
                
                @foreach (WebProjekat.Models.Voznja v in @Model.Voznja)
                {

                    <tr>
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.DatumIVremePorudzbine</lable></td>
                    </tr>
                    <tr>
                        <td>Status vožnje</td>
                        <td>@v.Status.ToString()</td>
                    </tr>
                    <tr>
                        <td>Početna lokacija</td>
                        <td><label>@v.PocetnaLokacija.Adresa.Naziv @v.PocetnaLokacija.Adresa.Broj ,@v.PocetnaLokacija.Adresa.Mesto @v.PocetnaLokacija.Adresa.BrojMesta</label></td>
                        <td>
                            <form action="/Taxi/PrikaziKomentar">
                                <input type="submit" value="Prikaži vožnju" />
                                <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                <input type="hidden" name="korisnik" value="@v.Musterija.KorisnickoIme" />
                                <input type="hidden" name="vozac" value="@v.Vozac.KorisnickoIme" />
                                <input type="hidden" name="dispecer" value="@v.Dispecer.KorisnickoIme" />
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</body>
</html>