@model WebProjekat.Models.Musterija
@{
    ViewBag.Title = "IzmeniMusterija";
}
<html>
<head>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body style="background-color:skyblue">
    <div style="text-align:left">
        <h2>Izmena podataka </h2>
        <form action="/Taxi/IzmeniPodatkeMusterija">
            <table>
                <tr>
                    <td colspan="2">Popunite sledeća polja</td>
                </tr>
                <tr>
                    <td>Ime:</td>
                    <td>
                        <input type="text" name="ime" value="@Model.Ime" data-val="true" data-val-length="Ovo polje morate popuniti sa najmanje 2 karaktera" data-val-length-max="25" data-val-length-min="2" data-val-required="Ovo polje je neophodno popuniti"/>
                        <span class="text-danger field-validation-error" data-valmsg-for="ime" data-valmsg-replace="true"></span>
                    </td>
                </tr>
                <tr>
                    <td>Prezime:</td>
                    <td>
                        <input type="text" name="prezime" value="@Model.Prezime" data-val="true" data-val-length="Ovo polje morate popuniti sa najmanje 2 karaktera" data-val-length-max="25" data-val-length-min="2" data-val-required="Ovo polje je neophodno popuniti" />
                        <span class="text-danger field-validation-error" data-valmsg-for="prezime" data-valmsg-replace="true"></span>
                    </td>
                </tr>
                <tr>
                    <td>Pol:</td>
                    <td>
                        <select name="pol">
                            @if (Model.Pol == WebProjekat.Models.Pol.Muski)
                            {
                                <option value="muski" selected="selected">Muski</option>
                                <option value="zenski">Zenski</option>
                            }
                            else
                            {
                                <option value="zenski" selected="selected">Zenski</option>
                                <option value="muski">Muski</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Jmbg:</td>
                    <td>
                        <input type="text" name="jmbg" value="@Model.Jmbg" data-val="true" data-val-length="Ovo polje morate popuniti sa najmanje 13 karaktera" data-val-length-max="25" data-val-length-min="13" data-val-required="Ovo polje je neophodno popuniti" />
                        <span class="text-danger field-validation-error" data-valmsg-for="jmbg" data-valmsg-replace="true"></span>
                    </td>
                </tr>
                <tr>
                    <td>Korisnicko ime:</td>
                    <td>
                        <input type="text" readonly="readonly" name="korisnicko" value="@Model.KorisnickoIme"/>
                    </td>
                </tr>
                <tr>
                    <td>Lozinka:</td>
                    <td>
                        <input type="text" name="lozinka" value="@Model.Lozinka"  data-val="true" data-val-length="Ovo polje morate popuniti sa najmanje 5 karaktera" data-val-length-max="25" data-val-length-min="5" data-val-required="Ovo polje je neophodno popuniti"/>
                        <span class="text-danger field-validation-error" data-valmsg-for="lozinka" data-valmsg-replace="true"></span>

                    </td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td>
                        <input type="text" name="mail" value="@Model.Mail"  data-val="true" data-val-length="Ovo polje morate popuniti sa najmanje 11 karaktera" data-val-length-max="25" data-val-length-min="11" data-val-required="Ovo polje je neophodno popuniti"/>
                        <span class="text-danger field-validation-error" data-valmsg-for="mail" data-valmsg-replace="true"></span>

                    </td>
                </tr>
                <tr>
                    <td>Broj telefona:</td>
                    <td>
                        <input type="text" name="broj" value="@Model.BrTelefona"  data-val="true" data-val-length="Ovo polje morate popuniti sa najmanje 9 karaktera" data-val-length-max="25" data-val-length-min="9" data-val-required="Ovo polje je neophodno popuniti"/>
                        <span class="text-danger field-validation-error" data-valmsg-for="broj" data-valmsg-replace="true"></span>
                    </td>
                </tr>
                <tr>
                    <td align="center"><input type="submit" value="Sačuvaj" /></td>
                </tr>
            </table>
        </form>
        <button onclick="goBack()">Vrati se na profil</button>
    </div>
</body>
</html>


