@model WebProjekat.Models.Musterija
@{
    ViewBag.Title = "musterijaWelcome";
    ViewBag.Musterija = Model;
}


<html>
<body style="background-color:skyblue">
    <div style="text-align:right">
        <form action="/Taxi/OdjaviMusterija">
            <input type="submit" value="Odjavi se" />
        </form>
    </div>
    <div style="text-align:center">
        <h2>Dobrodošli @Model.KorisnickoIme</h2>
    </div>
    <table>
        <tr>
            <td>
                <form action="/Taxi/IzmeniMusterija">
                    <input type="submit" value="Izmeni profil" />
                </form>
            </td>
            <td>
                <form action="/Taxi/ZatraziVoznjuMusterija">
                    <input type="submit" value="Zatraži vožnju" />
                </form>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td colspan="2" align="center">Vaši podaci</td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td><label>@Model.Ime</label></td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td><label>@Model.Prezime</label></td>
        </tr>
        <tr>
            <td>Jmbg:</td>
            <td><label>@Model.Jmbg</label></td>
        </tr>
        <tr>
            <td>Korisničko ime:</td>
            <td><label>@Model.KorisnickoIme</label></td>
        </tr>
        <tr>
            <td>Pol:</td>
            <td><label>@Model.Pol</label></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><label>@Model.Mail</label></td>
        </tr>
        <tr>
            <td>Broj telefona:</td>
            <td><label>@Model.BrTelefona</label></td>
        </tr>
    </table>


    @if (Model.Voznja.Count == 0)
    {
        <div>
            <h1>Lista vožnji je prazna!</h1>
        </div>
    }
    else if (Model.Filter == true)
    {
        <div style="text-align:center">
            <table align="center" border="1">
                <tr>
                    <td>Sortiraj</td>
                    <td>
                        <form action="/Taxi/SoriraMusterija">
                            Po datumu:<input type="radio" name="datum" /> Po Oceni:<input type="radio" name="ocena" />
                            <input type="submit" value="Sortiraj" />
                            <input type="hidden" value="@Model.KorisnickoIme" name="musterija" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Pretraži vožnju </td>
                    <td>
                        <form action="/Taxi/TraziMusterija">
                            Datum:<input type="text" name="datum" />
                            Ocena:<select name="ocena">
                                <option name="neocenjen">Neocenjen</option>
                                <option name="veomaLose">Veoma loša</option>
                                <option name="losa">Loša</option>
                                <option name="dobra">Dobra</option>
                                <option name="veomaDobra">Veoma dobra</option>
                                <option name="odlicna">Odlična</option>
                            </select>
                            Cena:<input type="text" name="cena" />
                            <input type="submit" value="Pretraga" />
                            <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                @foreach (WebProjekat.Models.Voznja v in @Model.Filtrirane)
                {
                    <tr>
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.DatumIVremePorudzbine</lable></td>
                    </tr>
                    <tr>
                        <td>Status vožnje</td>
                        <td>@v.Status.ToString()</td>
                    </tr>
                    <tr>
                        <td>Početna lokacija</td>
                        <td><label>@v.PocetnaLokacija.Adresa.Naziv @v.PocetnaLokacija.Adresa.Broj ,@v.PocetnaLokacija.Adresa.Mesto @v.PocetnaLokacija.Adresa.BrojMesta</label></td>
                        @if (v.Status == WebProjekat.Models.StatusVoznje.Uspesna && v.Musterija.KorisnickoIme != null)
                        {
                            <td rowspan="2">
                                <form action="/Taxi/UspesnoOtkazanaVoznja">
                                    <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                    <input type="submit" value="Ostavi komentar" />
                                </form>
                            </td>
                        }
                        @if (v.Status == WebProjekat.Models.StatusVoznje.Kreirana)
                        {
                            <td rowspan="2">
                                <form action="/Taxi/OtazujeMusterija">
                                    <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                    <input type="submit" value="Otkaži vožnju!" />
                                </form>
                                <form action="/Taxi/IzmeniVoznjuMusterija">
                                    <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                    <input type="submit" value="Izmeni vožnju" />
                                </form>
                            </td>
                        }
                        <td rowspan="2">
                            <form action="/Taxi/PrikaziKomentar">
                                <input type="submit" value="Prikaži vožnju" />
                                <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                <input type="hidden" name="korisnik" value="@v.Musterija.KorisnickoIme" />
                                <input type="hidden" name="vozac" value="@v.Vozac.KorisnickoIme" />
                                <input type="hidden" name="dispecer" value="@v.Dispecer.KorisnickoIme" />
                            </form>
                        </td>
                    </tr>
                }
            </table>
            <form action="/Taxi/PonistiFilter">
                <input type="submit" value="Poništi filter" />
                <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
            </form>
        </div>
    }
    else if (Model.Pretrazivanje == true)
    {
        <div style="text-align:center">
            <table align="center" border="1">
                <tr>
                    <td>Pretraži vožnje po statusu</td>
                    <td>
                        <form action="/Taxi/FiltriraMusterija">
                            <select name="filterStatus">
                                <option id="kreirana">Kreirana</option>
                                <option id="formirana" selected>Formirana</option>
                                <option id="obradjena">Obrađena</option>
                                <option id="prihvacena">Prihvaćena</option>
                                <option id="Otkazana">Otkazana</option>
                                <option id="neuspesna">Neuspešna</option>
                                <option id="uspesna">Uspešna</option>
                            </select>
                            <input type="submit" value="Filtriraj" />
                            <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Sortiraj</td>
                    <td>
                        <form action="/Taxi/SoriraMusterija">
                            Po datumu:<input type="radio" name="datum" /> Po Oceni:<input type="radio" name="ocena" />
                            <input type="submit" value="Sortiraj" />
                            <input type="hidden" value="@Model.KorisnickoIme" name="musterija" />
                        </form>
                    </td>
                </tr>
                @foreach (WebProjekat.Models.Voznja v in @Model.Pretrazene)
                {
                    <tr>
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.DatumIVremePorudzbine</lable></td>
                    </tr>
                    <tr>
                        <td>Status vožnje</td>
                        <td>@v.Status.ToString()</td>
                    </tr>
                    <tr>
                        <td>Početna lokacija</td>
                        <td><label>@v.PocetnaLokacija.Adresa.Naziv @v.PocetnaLokacija.Adresa.Broj ,@v.PocetnaLokacija.Adresa.Mesto @v.PocetnaLokacija.Adresa.BrojMesta</label></td>
                        @if (v.Status == WebProjekat.Models.StatusVoznje.Uspesna && v.Musterija.KorisnickoIme != null)
                        {
                            <td rowspan="2">
                                <form action="/Taxi/UspesnoOtkazanaVoznja">
                                    <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                    <input type="submit" value="Ostavi komentar" />
                                </form>
                            </td>
                        }
                        @if (v.Status == WebProjekat.Models.StatusVoznje.Kreirana)
                        {
                            <td rowspan="2">
                                <form action="/Taxi/OtazujeMusterija">
                                    <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                    <input type="submit" value="Otkaži vožnju!" />
                                </form>
                                <form action="/Taxi/IzmeniVoznjuMusterija">
                                    <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                    <input type="submit" value="Izmeni vožnju" />
                                </form>
                            </td>
                        }
                        <td rowspan="2">
                            <form action="/Taxi/PrikaziKomentar">
                                <input type="submit" value="Prikaži vožnju" />
                                <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                <input type="hidden" name="korisnik" value="@v.Musterija.KorisnickoIme" />
                                <input type="hidden" name="vozac" value="@v.Vozac.KorisnickoIme" />
                                <input type="hidden" name="dispecer" value="@v.Dispecer.KorisnickoIme" />
                            </form>
                        </td>
                    </tr>
                }
            </table>
            <form action="/Taxi/PonistiFilter">
                <input type="submit" value="Poništi filter" />
                <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
            </form>
        </div>
    }
    else if (Model.Sortiranje == true)
    {
        <div style="text-align:center">
            <table align="center" border="1">
                <tr>
                    <td>Pretraži vožnje po statusu</td>
                    <td>
                        <form action="/Taxi/FiltriraMusterija">
                            <select name="filterStatus">
                                <option id="kreirana">Kreirana</option>
                                <option id="formirana" selected>Formirana</option>
                                <option id="obradjena">Obrađena</option>
                                <option id="prihvacena">Prihvaćena</option>
                                <option id="Otkazana">Otkazana</option>
                                <option id="neuspesna">Neuspešna</option>
                                <option id="uspesna">Uspešna</option>
                            </select>
                            <input type="submit" value="Filtriraj" />
                            <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Pretraži vožnju </td>
                    <td>
                        <form action="/Taxi/TraziMusterija">
                            Datum:<input type="text" name="datum" />
                            Ocena:<select name="ocena">
                                <option name="neocenjen">Neocenjen</option>
                                <option name="veomaLose">Veoma loša</option>
                                <option name="losa">Loša</option>
                                <option name="dobra">Dobra</option>
                                <option name="veomaDobra">Veoma dobra</option>
                                <option name="odlicna">Odlična</option>
                            </select>
                            Cena:<input type="text" name="cena" />
                            <input type="submit" value="Pretraga" />
                            <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                @foreach (WebProjekat.Models.Voznja v in @Model.Sortirane)
                {
                    <tr>
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.DatumIVremePorudzbine</lable></td>
                    </tr>
                    <tr>
                        <td>Status vožnje</td>
                        <td>@v.Status.ToString()</td>
                    </tr>
                    <tr>
                        <td>Početna lokacija</td>
                        <td><label>@v.PocetnaLokacija.Adresa.Naziv @v.PocetnaLokacija.Adresa.Broj ,@v.PocetnaLokacija.Adresa.Mesto @v.PocetnaLokacija.Adresa.BrojMesta</label></td>
                        @if (v.Status == WebProjekat.Models.StatusVoznje.Uspesna && v.Musterija.KorisnickoIme != null)
                        {
                            <td rowspan="2">
                                <form action="/Taxi/UspesnoOtkazanaVoznja">
                                    <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                    <input type="submit" value="Ostavi komentar" />
                                </form>
                            </td>
                        }
                        @if (v.Status == WebProjekat.Models.StatusVoznje.Kreirana)
                        {
                            <td rowspan="2">
                                <form action="/Taxi/OtazujeMusterija">
                                    <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                    <input type="submit" value="Otkaži vožnju!" />
                                </form>
                                <form action="/Taxi/IzmeniVoznjuMusterija">
                                    <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                    <input type="submit" value="Izmeni vožnju" />
                                </form>
                            </td>
                        }
                        <td rowspan="2">
                            <form action="/Taxi/PrikaziKomentar">
                                <input type="submit" value="Prikaži vožnju" />
                                <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                <input type="hidden" name="korisnik" value="@v.Musterija.KorisnickoIme" />
                                <input type="hidden" name="vozac" value="@v.Vozac.KorisnickoIme" />
                                <input type="hidden" name="dispecer" value="@v.Dispecer.KorisnickoIme" />
                            </form>
                        </td>
                    </tr>
                }
            </table>
            <form action="/Taxi/PonistiFilter">
                <input type="submit" value="Poništi filter" />
                <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
            </form>
        </div>
    }
    else
    {
        <div style="text-align:center">
            <table align="center" border="1">
                <tr>
                    <td colspan="2">Vaše vožnje</td>
                </tr>
                <tr>
                    <td>Pretraži vožnje po statusu</td>
                    <td>
                        <form action="/Taxi/FiltriraMusterija">
                            <select name="filterStatus">
                                <option id="kreirana">Kreirana</option>
                                <option id="formirana" selected>Formirana</option>
                                <option id="obradjena">Obrađena</option>
                                <option id="prihvacena">Prihvaćena</option>
                                <option id="Otkazana">Otkazana</option>
                                <option id="neuspesna">Neuspešna</option>
                                <option id="uspesna">Uspešna</option>
                            </select>
                            <input type="submit" value="Filtriraj" />
                            <input type="hidden" name="musterija" value="@Model.KorisnickoIme" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Sortiraj</td>
                    <td>
                        <form action="/Taxi/SoriraMusterija">
                            Po datumu:<input type="radio" name="datum" /> Po Oceni:<input type="radio" name="ocena" />
                            <input type="submit" value="Sortiraj" />
                            <input type="hidden" value="@Model.KorisnickoIme" name="musterija" />
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>Pretraži vožnju </td>
                    <td>
                        <form action="/Taxi/TraziMusterija">
                            Datum:<input type="text" name="datum" />
                            Ocena:<select name="ocena">
                                    <option name="neocenjen">Neocenjen</option>
                                    <option name="veomaLose">Veoma loša</option>
                                    <option name="losa">Loša</option>
                                    <option name="dobra">Dobra</option>
                                    <option name="veomaDobra">Veoma dobra</option>
                                    <option name="odlicna">Odlična</option>
                                  </select>
                            Cena:<input type="text" name="cena" />
                            <input type="submit" value="Pretraga"/>
                            <input type="hidden" name="musterija" value="@Model.KorisnickoIme"/>
                        </form>
                    </td>
                </tr>
                @foreach (WebProjekat.Models.Voznja v in @Model.Voznja)
                {

                    <tr>
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.DatumIVremePorudzbine</lable></td>
                    </tr>
                    <tr>
                        <td>Status vožnje</td>
                        <td>@v.Status.ToString()</td>
                    </tr>
                    <tr>
                        <td>Početna lokacija</td>
                        <td><label>@v.PocetnaLokacija.Adresa.Naziv @v.PocetnaLokacija.Adresa.Broj ,@v.PocetnaLokacija.Adresa.Mesto @v.PocetnaLokacija.Adresa.BrojMesta</label></td>
                        @if (v.Status == WebProjekat.Models.StatusVoznje.Uspesna && v.Musterija.KorisnickoIme != null)
                        {
                            <td>
                                <form action="/Taxi/UspesnoOtkazanaVoznja">
                                    <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                    <input type="submit" value="Ostavi komentar" />
                                </form>
                            </td>
                        }
                        @if (v.Status == WebProjekat.Models.StatusVoznje.Kreirana)
                        {
                            <td>
                                <form action="/Taxi/OtazujeMusterija">
                                    <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                    <input type="submit" value="Otkaži vožnju!" />
                                </form>
                                <form action="/Taxi/IzmeniVoznjuMusterija">
                                    <input type="hidden" name="korisnik" value="@Model.KorisnickoIme" />
                                    <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                    <input type="submit" value="Izmeni vožnju" />
                                </form>
                            </td>
                        }
                        <td>
                            <form action="/Taxi/PrikaziKomentar">
                                <input type="submit" value="Prikaži vožnju" />
                                <input type="hidden" name="datum" value="@v.DatumIVremePorudzbine" />
                                <input type="hidden" name="korisnik" value="@v.Musterija.KorisnickoIme" />
                                <input type="hidden" name="vozac" value="@v.Vozac.KorisnickoIme" />
                                <input type="hidden" name="dispecer" value="@v.Dispecer.KorisnickoIme" />
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</body>
</html>